@import './variables';

@mixin color-classes {
  &--white {
    background-color: $white;
    color: $black;
  }

  &--red {
    background-color: $red;
    color: $white;
  }

  &--pink {
    background-color: $pink;
    color: $white;
  }

  &--green {
    background-color: $green;
    color: $white;
  }

  &--skin {
    background-color: $skin;
    color: $white;
  }

  &--orange {
    background-color: $orange;
    color: $white;
  }

  &--red,
  &--pink,
  &--green,
  &--skin,
  &--orange {
    margin: $h-padding * 0.5 0;
  }

  @media screen and (max-width: $mobile-breakpoint) {
    &--red,
    &--pink,
    &--green,
    &--skin,
    &--orange {
      margin: 1rem 0;
    }
  }
}

@mixin text-crop(
  $font-size: 22,
  $top-adjustment: 0px,
  $bottom-adjustment: 0px
) {
  $top-crop: 0;
  $bottom-crop: 0;
  $crop-font-size: $font-size;
  $crop-line-height: $line-height;

  $dynamic-top-crop: max(
      ($top-crop + ($line-height - $crop-line-height) * ($crop-font-size / 2)),
      0
    ) / $crop-font-size;
  $dynamic-bottom-crop: max(
      (
        $bottom-crop + ($line-height - $crop-line-height) *
          ($crop-font-size / 2)
      ),
      0
    ) / $crop-font-size;

  line-height: $line-height;

  &::before,
  &::after {
    content: '';
    display: block;
    height: 0;
    width: 0;
  }

  &::before {
    margin-bottom: calc(-#{$dynamic-top-crop}em + #{$top-adjustment});
  }

  &::after {
    margin-top: calc(-#{$dynamic-bottom-crop}em + #{$bottom-adjustment});
  }
}

@mixin regular-crop {
  @include text-crop(22, -2px, -7px);
}

@mixin heading-crop {
  @include text-crop(44, -5px, -15px);
}
