$font: Theinhard-Regular;
$font-medium: Theinhard-Medium;
$font-size: 22;
$h-padding: 5rem;
$s-max-width: 35rem;
$gap: 0.2rem;
$line-height: 1.15;
$mobile-breakpoint: 720px;

// COLORS
$white: white;
$black: black;
$red: #ea3734;
$green: #57756e;
$pink: #ea9285;
$skin: #f9e3ca;
$orange: #f3a62b;
