$font: Theinhard-Regular;
$font-medium: Theinhard-Medium;
$font-serif: Sectra-Regular;
$font-size: 26;
$small-font-size: 0.72rem;
$h-padding: 5rem;
$h-padding-mobile: 1.5rem;
$v-padding: 1.5rem;
$s-max-width: 35rem;
$gap: 0.2rem;
$line-height: 1.3;
$mobile-breakpoint: 720px;
$border-width: 2px;
$transition-duration: 0.3s;
$menu-padding: 0.6rem;

// COLORS
$white: white;
$black: black;
$red: #ea3734;
$green: #57756e;
$pink: #ea9285;
$skin: #f9e3ca;
$orange: #f3a62b;
