@font-face {
  font-family: Pressura;
  src: url('~static/fonts/GT-Pressura-Regular-Trial.woff2');
}

@font-face {
  font-family: Theinhard-Medium;
  src: url('~static/fonts/theinhard-medium.ttf');
}

@font-face {
  font-family: Theinhard-Regular;
  src: url('~static/fonts/theinhard-regular.ttf');
}
