@font-face {
  font-family: Pressura;
  src: url('~static/fonts/GT-Pressura-Regular-Trial.woff2');
}

@font-face {
  font-family: Theinhard-Medium;
  src: url('~static/fonts/theinhard-medium.ttf');
}

@font-face {
  font-family: Theinhard-Regular;
  src: url('~static/fonts/theinhard-regular.ttf');
}

@font-face {
  font-family: JJannon-Book;
  src: url('~static/fonts/jjannon-book.ttf');
}

@font-face {
  font-family: Sectra-Medium;
  src: url('~static/fonts/GT-Sectra-Medium-Trial.woff2');
}

@font-face {
  font-family: Sectra-Regular;
  src: url('~static/fonts/GT-Sectra-Regular-Trial.woff2');
}

a {
  cursor: pointer;

  &:hover {
    text-decoration: underline;
  }
}
