@import './variables';

p,
a,
span,
h1,
h2,
h3,
h4,
h5 {
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
  margin: 0;
  text-decoration: none;
}

p {
  line-height: $line-height;
}

figure {
  margin: 0;
}
